.start-pg {
    height: 100svh;
    width: 100svw;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
}

.upper-container {
   display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    padding-top: 10svh;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    padding-bottom: 35svh;
}

body {
    background: var(--color-bg);
    color: var(--color-font);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.start-pg .title-container {
    text-align: center;
    padding: 2rem;
    padding-top: 8rem;
}

.start-pg .title {
    font-size: var(--font-title-size);
    font-weight: 700;
}

.start-pg .subtitle {
    font-size: var(--font-subtitle-size);
    margin-top: .5rem;
    opacity: 0.9;
}

.language-selector {
    align-items: center;
    gap: 1rem;
}

.lang-container {
    position: relative;
    display: inline-block;
}

.start-button-container {
    display: flex;
    height: 5rem;
    align-items: center;
}

@media only screen and (orientation: portrait) and (max-width:600px) {
    .upper-container {
       padding-top: 20svh;
    }

    .bottom-container {
        padding-bottom: 40svh;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    .upper-container {
       padding-top: 8svh;
    }

    .bottom-container {
        padding-bottom: 10svh;
    }
}

