.start-pg {
    height: 100svh;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: var(--color-bg);
    color: var(--color-font);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.start-pg .title-container {
    text-align: center;
    padding: 2rem;
    padding-top: 8rem;
}

.start-pg .title {
    font-size: var(--font-title-size);
    font-weight: 700;
}

.start-pg .subtitle {
    font-size: var(--font-subtitle-size);
    margin-top: .5rem;
    opacity: 0.9;
}

.language-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.lang-container {
    position: relative;
    display: inline-block;
}

.start-button-container {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (orientation: portrait) and (max-width:600px) {
    .start-pg .title-container {
        padding-top: 4rem;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    .start-pg .title-container {
        padding-top: 3rem;
    }
}

