:root {
    --nav-height: 4rem;
    --nav-bg-scroll: linear-gradient(to bottom, rgb(0, 0, 0), var(--page-bg));
    --nav-bg: linear-gradient(to bottom, rgba(93, 57, 255, 0), rgba(0,0,0,0));
}


.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 9999;
    /* transition: background 5s ease;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)); */
    background: transparent;
    overflow: hidden;
    justify-content: center;
}

.topnav::before,
.topnav::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}


.topnav::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--nav-bg);
    opacity: 1; 
    pointer-events: none;
}

.topnav::after {
    content: "";
    position: absolute;
    inset: 0;
    /* background: linear-gradient(to bottom, rgb(0,0,0), var(--page-bg)); */
    background: var(--nav-bg-scroll);
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}

.topnav.scrolled::after {
    opacity: 1;
}

.topnav * {
    position: relative;
    z-index: 2;
}

.topnav::before {
    transition: opacity .5s ease;
}

.topnav.scrolled::before {
    transition: opacity .5s ease;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: rgba(255,255,255,0.06);
    color: #ffffff;
    border-radius: 4px;
}

.topnav a.active {
    background: transparent;
    color: #ffffff;
    font-weight: 700;
}

@media only screen and (orientation: portrait) and (max-width:600px) {
    :root {
        --nav-height: 4rem;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    :root {
        --nav-height: 3rem;
    }
}