:root {
    --lang-dropdown-name-font-size: 1.2rem;
    --lang-dropdown-name-font-color: #1a1a1a;
    
    --lang-dropdown-bg: rgba(255,255,255,0.15);
    --lang-dropdown-bg-hover: rgba(198, 198, 198, 0.201);
    
    --lang-dropdown-list-bg: rgba(239, 239, 239, 0.9);
    --lang-dropdown-list-item-height: 3rem;
    
    --lang-dropdown-item-height: 3.2rem;
    --lang-dropdown-item-width: 10rem;
    --lang-dropdown-item-bg-hover: rgba(0,0,0,0.1);
    --lang-dropdown-item-bg-selected: rgba(95, 95, 95, 0.1);

    --start-btn-bg: white;
    --start-btn-bg-hover: rgba(233, 233, 233, 0.916);
}

/* Language Container */

.lang.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 75px;
    box-sizing: content-box;
}

.lang.dropdown-container {
    position: relative;
    display: inline-block;
}

/* Language Dropdown */
.lang.dropdown {
    width: var(--lang-dropdown-item-width);
    height: var(--lang-dropdown-item-height);
    background-color: var(--lang-dropdown-bg);
    border-radius: 14px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .6rem;
    transition: background-color var(--transition-speed), border-width .075s;
    overflow: hidden;
    border-style: outset;
    border-width: 0 0 .25rem 0;
    border-color: #0e4d9496;
}

.lang.dropdown:hover {
    background-color: var(--lang-dropdown-bg-hover);
    border-width: 0 0 .1rem 0;
}

.lang.dropdown.selected {
    border-width: 0 0 .15rem 0;
    background-color: #1a1a1a24;
}

.lang.dropdown-name {
    font-size: var(--lang-dropdown-name-font-size);
    color: var(--lang-dropdown-name-font-color);
}

.lang.dropdown-list {
    position: absolute;
    background: var(--lang-dropdown-list-bg);
    color:black;
    border-radius: 10px;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    flex-direction: column;
    z-index: 10;
    width: 100%;
}



.lang.dropdown-list.drop-up {
    transform: translateY(calc(-100% - 0.5rem));
}

.lang.dropdown-item {
    height: var(--lang-dropdown-list-item-height);
    padding: 0.7rem 1rem;
    display: flex;
    gap: .5rem;
    cursor: pointer;
    align-items: center;
}

.lang.dropdown-item.selected,
.lang.dropdown-item.selected:hover {
    background: var(--lang-dropdown-item-bg-selected);
}

.lang.dropdown-item:hover {
    background: var(--lang-dropdown-item-bg-hover);
}

@media only screen and (orientation: portrait) and (max-width:600px) {
    :root {
        --lang-dropdown-item-height: 2rem;
        --lang-dropdown-item-width: 6rem;
        --lang-dropdown-name-font-size: .9rem;
    }
    
    .lang.dropdown-name {
        text-align: center;
    }
    
    .lang.dropdown-item {
        align-items: center;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    :root {
        --lang-dropdown-item-height: 3rem;
        --lang-dropdown-item-width: 10rem;
        --lang-dropdown-name-font-size: .8rem;

        --lang-dropdown-list-item-height: 2.5rem;
    }

    .lang.dropdown-item {
        padding: 0.2rem 1rem;
        gap: .25rem;
    }
}

/* Start Button */
.start-button {
    background: var(--start-btn-bg);
    color:black;
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    transition: transform var(--transition-speed);
    border-style: outset;
    border-width: 0 0 .25rem 0;
    border-color: #0e4d9496;
}

.start-button:hover {
    background: var(--start-btn-bg-hover);
    border-style: outset;
    border-width: 0 0 .15rem 0;
    transition: background-color var(--transition-speed), border-width .075s;
    border-color: #0e4d9496;
}