@import url("./game-pop-up.css");
@import url("./setup-layout.css");

.start-pg {
    height: 100svh;
    width: 100svw;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.upper-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 10svh;
}

.bottom-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 35svh;
    
}

body {
    background: var(--color-bg);
    color: var(--color-font);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.start-pg .title-container {
    text-align: center;
    padding: 2rem;
    padding-top: 8rem;
}

.start-pg .title {
    font-size: var(--font-title-size);
    font-weight: 700;
    margin-bottom: 0;
}

.start-pg .subtitle {
    font-size: var(--font-subtitle-size);
    margin-top: .5rem;
    opacity: 0.9;
    animation: scaling linear .75s infinite alternate;
    box-sizing: border-box;
    margin-bottom: 0;
}

.start-pg .select-message {
    color: red;
    margin-bottom: 0;
}

.start-pg .select-message.hidden {
    opacity: 0;
}

@keyframes scaling {
    from { color: azur;} 
    to { color: rgb(196, 196, 196);} 
}

.start-button-container {
    display: flex;
    height: 5rem;
    align-items: center;
}

@media only screen and (orientation: portrait) and (max-width:600px) {
    .upper-container {
       padding-top: 20svh;
    }

    .bottom-container {
        padding-bottom: 40svh;
    }
}

@media only screen and (orientation: landscape) and (max-width:1000px) {
    .upper-container {
       padding-top: 8svh;
    }

    .bottom-container {
        padding-bottom: 10svh;
    }
}

