.popup-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    animation: overlay-appear .25s ease;
    z-index: 999;
}

.popup-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    backdrop-filter: 0;
    animation: overlay-hide .15s ease-in;
}

.popup-overlay.disabled {
    display: none;
    animation: none;
}

.popup {
    background: white;
    height: 75svh;
    width: 50svw;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    animation: popup-appear .35s ease;
    padding: 1.5rem;
    border-radius: 14px;
}

@keyframes popup-appear {
    from { transform: scale(0.8); opacity: 0; }
    to   { transform: scale(1.0); opacity: 1; }
}

@keyframes overlay-appear {
    from { opacity: 0; backdrop-filter: 0; }
    to { opacity: 1; backdrop-filter: blur(4px); }
}

@keyframes overlay-hide {
    from { opacity: 1; backdrop-filter: blur(4px); }
    to { opacity: 0; backdrop-filter: 0; display: none;}
}


/* settings */
.settings-bg {
    padding: .2rem;
    background-color: rgba(0,0,0,.1);
    border-style: solid;
    border-radius: 15px;
    border-width:2px;
    border-color: rgba(0,0,0,.2);
}

.setting-selector {
    box-sizing: content-box;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: .15rem;
}

.setting-selector:hover {
    background-color: rgba(0,0,0,.1);
}

/* Setup setting selector */
.setting-title {
    color:black;
    margin: 0;
}
